video {
  height: 480px;
  width: auto;
}

.timeinfo {
  display: none;
  position: absolute;
  background-color: lightskyblue;
}

.timeline {
  height: 30px;
  background-color: lightcoral;
  padding: 0;
}